@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.footer-section{
    background-color: #161C28;
}
.footer-logo{
    width: 40%;
}

.footer-para{
    color: #ffffff;
    opacity: 0.7;
}
ul{
    padding-left: 0.5rem;
}
input{
    background-color: #1F2937;
    width: 95%;
    height: 3rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    color: #ffffff;
    padding-left: 2px;
}

::placeholder{
    color: #ffffff;
    padding-left: 1rem;
    content: "\F32F";

}

.footer-button{
    color: #ffffff;
    background-color: #F97316;
    padding: 0.5rem;
    width: 95%;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
}

.footer-ul{
    opacity: 0.8;
}
.footer-ul li:hover{
    color: #F97316;
}
.footer-ul li::before{
    content: ">";
    margin-right: 0.5rem;
}

.footer-service{
    border-top: 1px solid #ffffff20;
    border-bottom: 1px solid #ffffff20;
}
.footer-inner{
    padding: 0 1rem;
}
.social-footer,.cart{
    border: 1px solid #ffffff20;
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
}
.social-footer a,.socail-cart{
    color: #ffffff99;
}
.social-footer:nth-child(2){
    padding-left: 0.4rem;
    padding-top: 0.2rem;
}
.social-footer:nth-child(3){
    padding-left: 0.5rem;
    padding-top: 0.2rem;
}
.social-footer:nth-child(4){
    padding-left: 0.6rem;
    padding-top: 0.2rem;
}
.social-footer:nth-child(5){
    padding-left: 0.5rem;
    padding-top: 0.3rem;
}
.social-footer:nth-child(6){
    padding-left: 0.5rem;
    padding-top: 0.3rem;
}
.social-footer a:hover{
    color: #F97316;
}
.socail-cart:hover{
    color: #F97316;
}
.copyright{
    color: #ffffff;
}
.copyright span{
    color: #F97316;
}

@media (min-width:768px){
    .footer-logo{
        width: 15%;
    }
    .email-footer{
        width: 35%;
    }
    .footer-button{
        width: 35%;
    }
  
}

@media (min-width:1024px){
    .footer-logo{
        width: 45%;
    }
    .extreme-left{
        width: 25%;
    }
    .center-center{
        width: 50%;
    }
    .extreme-right{
        width: 25%;
    }
    .email-footer{
        width: 90%;
    }
    .footer-button{
        width: 90%;
    }
}

@media (min-width:1400px){
    .footer-inner{
        padding:0 8rem;
    }
    .footer-service{
        width: 85%;
    }
}

